
<div id="afficherfournisseur">
    <br>
    <div class="info_beneficiaire  ">
        Nom Fournisseur : <strong>{{ element.nom }}</strong>  |
        N° IFU : <strong>{{ element.numifu }}</strong> | Contact(s) : <strong>{{ element.tel }}</strong> <br>

    </div>
    <br>

</div>

