{% extends "home/layout.html.twig" %}
{% block stylesheet %}

{% endblock %}
 {% block titletopmeu %}
     <li>Appel</li>
     <li><a href="">Exercices</a></li>
 {% endblock %}
 {% block content %}
     <!-- Datatables Content -->
     <div class="block full">
         <div class="block-title">

             <h2><strong>Exercices</strong></h2>

             <a  href="{{ path('create_exercice')}}"  title="Ajouter" class="btn btn-xs btn-success" >
                 <i  class="fa fa-plus"></i></a>
         </div>

         <div class="table-responsive">
             <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                 <thead>
                 <tr>
                     <th class="text-center hide"></th>
                     <th class="text-center hide"></th>
                     <th class="text-center hide"></th>
                     <th class="text-center ">Exercices</th>
                     <th class="text-center"> Etat </th>
                     <th class="text-center">Actions</th>
                 </tr>

                 </thead>
                 <tbody>
                 {% for element in  exercices %}
                     <tr>
                         <td class="text-left hide"></td>
                         <td class="text-left hide"></td>
                         <td class="text-left hide"></td>
                         <td class="text-left "> {{ element.libExercice }}</td>
                         <td class="text-center">
                             {% if element.estActif==0 %}
                             <label class="switch switch-success"><input type="checkbox" checked="" disabled=""><span></span></label>
                             {% else %}
                                 <label class="switch switch-danger"><input type="checkbox" unchecked="" disabled=""><span></span></label>
                             {% endif %}
                         </td>
                         <td class="text-center">
                             <a href="{{ path('update_exercice', {'id': element.id } )}}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>

                             <a href="#modal-regular{{ element.id }}" data-toggle="modal" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                             {% include 'appel/exercice/delete_exercice.html.twig'  %}
                         </td>
                     </tr>
                 {% endfor %}
                 </tbody>
             </table>
         </div>
     </div>
     <!-- END Datatables Content -->

 {% endblock %}
