{% extends "JacUserBundle::layout.html.twig" %}

{# Le titre de la page (defaut MathSup) #}
{% block title %}Mot de passe oublié | {{ parent() }}{% endblock %}
{# La description de la page (defaut vide) #}
{% block description %}{% endblock %}
{# Les mots clés de la page (defaut vide) #}
{% block keywords %}{% endblock %}
{# Indication pour les robots de la page  (defaut all) #}
{% block robots %}noindex, nofollow{% endblock %}

{# Le titre de l'entête du document #}
{% block entetetitle %}Mot de passe oublié | {{ parent() }}{% endblock %}
{# La barre latéralke de la page #}
{% block aside %}{{ parent() }}{% endblock %}

{% block titre %} {{ 'Mot de passe oublié'|trans({}, 'FOSUserBundle') }}  <span style="font-size: 12px;float: right; color: #720e9e;">  <i class="fa fa-phone"> </i> MyContacts </span>{% endblock  %}

{% block fos_user_content %}

    {% include "JacUserBundle:Resetting:request_content.html.twig" %}

{% endblock fos_user_content %}
