{% extends "home/layout.html.twig" %}
{% block content %}
    <!-- Statistics Widgets Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-charts"></i>REGISS - PRO <br><small>Accueil</small>
            </h1>
        </div>
    </div>
    <!-- END Statistics Widgets Header -->

    <!-- Simple Stats Widgets Row -->
    <div class="row">
    {% if (menus is defined) %}
        {% for menu in menus %}
            <div class="col-sm-6 col-lg-3">
            <!-- Widget -->
            <div class="widget">
                <div class="widget-simple">
                    <a href="{{ path(menu.routeName) }}" class="widget-icon pull-left themed-background-spring">
                        <i class="{{ menu.fontIconClass }}"></i>
                    </a>
                    <h3 class="text-right animation-stretchRight"> <strong> {{ menu.libelle }}</strong>   </h3>
                </div>
            </div>
            <!-- END Widget -->
        </div>
        {% endfor %}

    {% endif %}


        <!--</div> -->
    </div>
{% endblock %}